
@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Отказано в доступе";
}

<h1>@ViewData["Title"]</h1>
<a href="javascript:history.go(-1)">Назад</a> <!--возможность вернуться назад туда, откуда попал-->
