<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>First view</h1>
<p>Hello!</p>
<p>
    <a href="/home/readconfig">Config?</a> <!--Сссылка на запуск другого представления-->
</p>
</body>
</html>
